
body { font-family: sans-serif; text-align: center; background: #000; color: #fff; }
canvas { background: #111; margin: 10px auto; display: block; border: 2px solid #fff; }
#controls button { font-size: 24px; margin: 5px; }
